body {
    padding: 0px;
    background-color: #27282c;
    font-family: arial;
    color: whitesmoke;
    text-align: center;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
}

nav {
    color: #EEE;
    height: 10vh;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 10vh;
    height: 10vh;
    display: inline;
    padding-right: 2vw;
}

header h1 {
    display: inline;
}

nav a {
    font-size: 1.5vw;
    font-weight: bold;
}

a:hover {
    color: #258173;
}

a:focus {
    outline: none;
}

a:active {
    color: #0d584d;
}

a {
    text-decoration: none;
    color: #06b297;
}

.selected {
    color: #0d584d;
}